*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.contact{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h4{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

